<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dvsnier">

    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="28">
        <!-- see link: https://developer.android.google.cn/training/articles/security-config#CleartextTrafficPermitted -->
    </application>

</manifest>