<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dvsnier.test.tpl">

    <application
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".image.TestImageActivity"
            android:theme="@style/AppTheme.DefaultTheme"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity
            android:name=".xutils.TestXUtilsActivity"
            android:theme="@style/AppTheme.DefaultTheme"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity
            android:name=".green.TestGreenDaoActivity"
            android:theme="@style/AppTheme.DefaultTheme"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity
            android:name=".speech.TestSpeechRecognitionActivity"
            android:theme="@style/AppTheme.DefaultTheme"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity
            android:name=".okhttp.TestOkhttpActivity"
            android:label="@string/title_activity_test_okhttp"
            android:theme="@style/AppTheme.DefaultTheme"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity
            android:name=".eventbus.TestEventBusActivity"
            android:theme="@style/AppTheme.DefaultTheme"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
    </application>
</manifest>
