<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dvsnier.test.common">

    <application
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".permission.TestPermissionActivity"
            android:theme="@style/AppTheme.DefaultTheme"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity
            android:name=".aidl.TestAIDLActivity"
            android:theme="@style/AppTheme.DefaultTheme"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity
            android:name=".touch.TestTouchEventActivity"
            android:theme="@style/AppTheme.DefaultTheme"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity
            android:name=".notification.TestNotificationActivity"
            android:theme="@style/AppTheme.DefaultTheme"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />

        <service
            android:name=".service.MessageManagerService"
            android:process=":remote" />
    </application>
</manifest>
